@{
    this.ViewData["Title"] = $"Welcome!";}


<div>
    <h3 class="display-4" style="text-align: center; margin:-12px 0px -5px 0px;padding:0px;font-size:44px;"> Welcome!</h3>
    <hr class="bg-light  w-75">
    <h4 style="margin:-5px 0px 10px 0px;text-align:center;">On our platform you will create and store your outfits.</h4>

    <div id="container-background" style="position:absolute;margin-top:-10px;">
        <img src="./pngegg (3).png" width="1050" height="600" style="margin-right: 100px; position: absolute; margin-top: 5px; position: relative; z-index:-1;"/>
       
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />

}
